<div class="row contenedor">
    <h1>Proyectos realizados</h1>
    <!-- <div class="contenedor"> -->
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Proyecto 1</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum id sed placeat quasi. Ducimus nihil ipsam incidunt animi saepe a veniam, quo doloribus, temporibus eum aliquam. Voluptates sed voluptas fuga.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/img/proyecto-todo.png" class="img-fluid img-proyecto" alt="">
        </div>
    <!-- </div> -->
</div>
