<div class="row">
  <h1>Proyectos</h1>
  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-light"
      routerLink="/nuevopro"
      *ngIf="isLogged"
    >
      Agregar Proyecto
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-12" class="row align-items">
    <table class="table table-dark">
      <tbody>
        <tr *ngFor="let Proyecto of proyecto">
          <td class="col-lg-2">
            <h6>{{ Proyecto.nombreP }}</h6>
          </td>
          <td class="col-lg-3">{{ Proyecto.descripcionP }}</td>
          <td class="col-lg-1">{{ Proyecto.fechaP }}</td>
          <td class="col-lg-2">
            {{ Proyecto.imgP }}
          </td>
          <td class="col-lg-2" *ngIf="isLogged">
            <button
              class="btn btn-light"
              routerLink="/editpro/{{ Proyecto.id }}"
            >
              <i class="bi bi-pencil-fill"></i> EDITAR
            </button>
          </td>
          <td class="col-lg-2" *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Proyecto.id)">
              <i class="bi bi-trash-fill"></i> BORRAR
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
