<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress 
            [percent]="90" 
            [radius]="100" 
            [imageSrc]="'../assets/img/html-5.svg'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="60"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16" 
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'"
            [animation]="true" 
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="75" [radius]="100" [imageSrc]="'../assets/img/css-3.svg'" [showImage]="true"
            [imageHeight]="70" 
            [imageWidth]="60" 
            [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="80" [radius]="100" [imageSrc]="'../assets/img/javascript.svg'" [showImage]="true"
            [imageHeight]="60" 
            [imageWidth]="60" 
            [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="60" [radius]="100" [imageSrc]="'../assets/img/bootstrap.svg'" [showImage]="true"
            [imageHeight]="60" 
            [imageWidth]="60" 
            [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'" 
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="65" [radius]="100" [imageSrc]="'../assets/img/typescript.svg'" [showImage]="true"
            [imageHeight]="60" 
            [imageWidth]="60" 
            [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="60" [radius]="100" [imageSrc]="'../assets/img/idioma.png'" [showImage]="true"
            [imageHeight]="60" 
            [imageWidth]="60" 
            [showUnits]="false" [showSubtitle]="false" [outerStrokeWidth]="16"
            [innerStrokeWidth]="6"
            [outerStrokeColor]="'#ff008e'"
            [innerStrokeColor]="'#0c1e7f'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>
</div>
