<div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3">
        <img src="../../../assets/img/foto-perfil.jpg" class="img-fluid img-foto" alt="">
    </div>
    <div class="col-md-9 col-lg-9 col-xl-9">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4">
                <h5 class="nombre">{{persona.nombre}} {{persona.apellido}}</h5>
                <span>Full Stack Developer Jr.</span>
            </div>
            <div class="col-md-5 col-lg-5 col-xl-5">
                <h3>Acerca de mí</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quaerat enim ex accusamus! At itaque consequatur non
                recusandae, soluta architecto amet quidem. Eaque velit at minus modi officia et libero!</p>
            </div>
        </div>
    </div>
</div>