<div class="row">
  <div class="col-md-3 col-lg-3 col-xl-3">
    <!-- <img src="{{ persona.img }}" class="img-fluid img-foto" alt="" /> -->
    <img
      src="../../../assets/img/foto-perfil.jpg"
      class="img-fluid img-foto"
      alt=""
    />
  </div>
  <div class="col-md-9 col-lg-9 col-xl-9">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-xl-4">
        <h5 class="nombre">{{ persona.nombre }} {{ persona.apellido }}</h5>
        <span>{{ persona.titulo }}</span>
      </div>
      <div class="col-md-5 col-lg-5 col-xl-5">
        <h3>Acerca de mí</h3>
        <p>
          {{ persona.descripcion }}
        </p>
      </div>
    </div>
  </div>
</div>
